<p id="notice"><%= notice %></p>

<h1>Buscas</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Conteudo</th>
      <th>Imagem</th>
      <th>Link origem</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @buscas.each do |busca| %>
      <tr>
        <td><%= busca.titulo %></td>
        <td><%= busca.conteudo %></td>
        <td><%= busca.imagem %></td>
        <td><%= busca.link_origem %></td>
        <td><%= link_to 'Show', busca %></td>
        <td><%= link_to 'Edit', edit_busca_path(busca) %></td>
        <td><%= link_to 'Destroy', busca, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Busca', new_busca_path %>
