<!DOCTYPE html>
<html>
  <head>
    <title>Manual</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script type="text/javascript" src="/teste.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <%= render '/layouts/header' , pro:'aula'%>
    <%= yield %>
  </body>
</html>
