
[<%=@teste%>]

<form>
  <fieldset>

    <legend>Personalia:</legend>
    <h1><%= @valor  %></h1>
    	Name: <input type="text" value="<%= calculo %>"><br>
    	Email: <input type="text" value="<%= calculo %>"><br>
    	Date of birth: <input type="text" value="<%= calculo %>">
  </fieldset>
</form>

Registrado por Andre